@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-serif-text);
  --font-mono: var(--font-dm-serif-text);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: DM Serif Text, serif;
}

.underline-link {
  display: inline-block;
  position: relative;
}

.underline-link::before {
  background-color: black;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0.25s ease-in-out;
}

.underline-link:hover::before {
  opacity: 1;
  width: 100%;
  left: 0;
  right: auto;
}